
.profile-box{
    border: solid 1px gray;
    padding: 20px 0px;
}
.profile-box-name{
    line-height: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.profile-box-item{
    text-align: center;
}
